@model IEnumerable<Budget_Project.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content-body">

    <div class="container-fluid mt-3">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="button-icon">
                            <a href="/Category/Create" class="btn mb-1 btn-primary">
                                Yeni Kategori <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </a>
                        </div><hr />
                        <div class="card-title">
                            <h4>Kategoriler</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kategori</th>
                                        <th>Logo</th>
                                        <th>Aktif/Pasif</th>
                                        <th>Tarih</th>
                                        <th>Ana/Alt Kategori</th>
                                        <th>Sil</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>
                                                @item.Name
                                            </td>
                                            
                                            @if (item.Logo != null)
                                            {
                                                <td>
                                                    <img class="mr-3 circle-rounded" src="~/Assets/images/category/@item.Logo" width="40" height="40" alt="Akbank">
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            
                                            @if (item.IsActive == true)
                                            {
                                                <td>
                                                    <span class="label gradient-1 rounded">Aktif</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="label gradient-2 rounded">Aktif Değil</span>
                                                </td>
                                            }
                                            <td>@item.ModifiedDate.Value.ToString("dd/MM/yyyy HH:mm") </td>
                                            @if (item.ParentId == 0)
                                            {
                                                <td class="color-primary">Ana Kategori</td>

                                            }
                                            else
                                            {
                                                <td class="color-primary">Alt Kategori</td>
                                            }
                                            <td>
                                                <span>
                                                    <a href="/Category/Edit/@item.Id" data-toggle="tooltip" data-placement="top" title="Düzenle">
                                                        <i class="fa fa-pencil color-muted m-r-5"></i>
                                                    </a>
                                                    <a href="#" onclick="removeCategory(@item.Id)" data-toggle="tooltip" data-placement="top" title="Sil">
                                                        <i class="fa fa-close color-danger"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
        </div>

    </div>
    <!-- #/ container -->
</div>


<script>
    function removeCategory(itemId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Are you sure you want to delete this item?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Delete',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Category/Delete/" + itemId,
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Successful',
                            text: 'The deletion was carried out'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                setTimeout(function() {
                                    location.reload(); 
                                });
                            }
                        });
                    },
                    error: function (error) {
                        alert("An error occurred during the deletion process");
                    }
                });
            }
        });
    }
</script>