@model Budget_Project.Models.Account
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-lg-6">
                                <h4 class="card-title mb-4">Update Account</h4>

                                @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="basic-form">
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Name</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" name="Name" id="Name" required="required" value="@Model.Name" placeholder="Name">
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#" id="nameMicrophoneBtn" class="btn btn-primary">
                                                        <i class="fa fa-microphone"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Logo</label>
                                                <div class="col-sm-7">
                                                    <input type="file" name="LogoPath" id="LogoPath" class="form-control" onchange="showImagePreview(this)">
                                                </div>

                                                <div class="col-sm-2" id="modelImage">
                                                    @if (Model.Logo != null)
                                                    {
                                                        <img class="mr-3 circle-rounded" src="~/Assets/images/account/@Model.Logo" width="50" height="50" alt="@Model.Name">
                                                    }
                                                </div>

                                                <div class="col-sm-2">
                                                    <img id="imagePreview" class="mr-3 circle-rounded" src="#" width="50" height="50" style="display:none;">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                    <a class="btn btn-dark" href="/Account">Back</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

const recognition = new webkitSpeechRecognition();
recognition.lang = 'tr-TR';

document.getElementById('nameMicrophoneBtn').addEventListener('click', function() {
    recognition.start();
});

recognition.onresult = function(event) {
    const transcript = event.results[0][0].transcript;
    console.log('Tanınan Metin: ', transcript);
    $('#Name').val(transcript);
   
};


function showImagePreview(input) {
    var fileInput = input;
    var imagePreview = document.getElementById('imagePreview');
    var modelImage = document.getElementById('modelImage');

    if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            imagePreview.src = e.target.result;
            imagePreview.style.display = 'block';
            modelImage.style.display = 'none';
        };

        reader.readAsDataURL(fileInput.files[0]);
    }
}
</script>